<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Pet Clinic - Owners</title>
</head>
<body>
    <h1 th:text ="'Owners List'">Owners List Displayed</h1>

    <table>
        <thead>
        <tr>
            <th> Id </th>
            <th> FirstName </th>
            <th> LastName </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${ownersList}">
            <td><span th:text="${owner.id}"> Id </span></td>
            <td><span th:text="${owner.firstName}"> FirstName </span></td>
            <td><span th:text="${owner.lastName}"> LastName </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>