<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Spring Pet Clinic - Vets</title>
</head>
<body>
    <h1 th:text ="'Lista vetova'">Veterinarians List Displayed</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th> Id </th>
            <th> FirstName </th>
            <th> LastName </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vetList}">
            <td><span th:text="${vet?.id}"> Id </span></td>
            <td><span th:text="${vet?.firstName}"> FirstName </span></td>
            <td><span th:text="${vet?.lastName}"> LastName </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>